
{% block comments %}
<div class='commentList'>
  {% for comment in post.comments %}
  <div class="comment">
  <div class="content">
    {% if comment.user %}
    <a class="author" href="/profile/{{ comment.user._id }}">@{{ comment.user.username }}</a>
    {% else %}
    <a class="author">Anonymous</a>
    {% endif %}
    <div class="metadata">
      <span class="date">{{ comment.dateCreated }}</span>
    </div>
    <div class="text">
      {{ comment.text }}
    </div>
    <div class="actions">
      <a class="replyComment">Reply</a>
        <button id="{{comment._id}}likeup" class="ui blue tiny button likeUpComment">
          <i class="thumbs up icon"></i>
          <span class='num'>
            {{post.upvotes}}
          </span>
        </button>
        <button id="{{comment._id}}likedown" class="ui red tiny button likeDownComment">
          <i class="thumbs down icon"></i>
          <span class='num'>
              {{post.downvotes}}
          </span>
        </button>
      </div>
    </div>
  </div>
  {% endfor %}
</div>



{% endblock%}
