{# vim: set ts=2 sw=2 et tw=120: #}

{% for post in posts %}

<div class="card">
  <img width="100%" height="56.25%" src="{{ post.video.thumbnailLink }}" onclick="window.location='/post/{{post.id }}'">
  <div class="content">
    {% if post.user %}
      {% if user.id == post.user.id %}
    <div class="ui dropdown" style="float: right;">
      <i class="dropdown icon"></i>
      <div class="menu">
        {# //////////////////////////////////////////////////////////////////////////////// #}
        {# The Fact that these are forms with button makes them appear really ugly.
        Once the app will be realtime I will change them back to divs!!! #}
        {# //////////////////////////////////////////////////////////////////////////////// #}
        <form class="item" method="GET" action="/post/edit/{{post.id}}">
          <button>
            <i class="edit icon"></i>
            Edit
          </button>
        </form>
        <form class="item" method="GET" action="/post/gallery">
          <button>
            <i class="trash icon"></i>
            Delete
          </button>
        </form>
        <div class="divider"></div>
        <form class="item" method="GET" action="/post/gallery">
          <button>
            <i class="folder icon"></i>
            Add to Album
          </button>
        </form>
      </div>
    </div>
      {% endif %}
    {% endif %}
    <div class="header">{{ post.title }}</div>
    <div class="meta">
      <a>Quick Video</a>
    </div>
    <div class="description">
      {{ post.description }}
    </div>
    <hr>
    <div class="extra content">
        {{post.views}} views
    </div>
  </div>
  <div class="extra content">
    <span>
      <i class="user icon"></i>
      {% if not post.user %}
      Anonymous
      {% else %}
      <a href="/profile/{{ post.user._id }}">@{{ post.user.username }}</a>
      {% endif %}
      <br>
      {{post.dateCreated | truncate(21)}}
    </span>
    <span class="right floated">
      <form method='POST' action='/like/post/up/{{post.id}}' style='display: inline;'>
        <button><i class="thumbs up outline icon"></i>{{post.upvotes}}</button>
      </form>
      <form method='POST' action='/like/post/down/{{post.id}}' style='display: inline;'>
        <button><i class="thumbs down outline icon"></i>{{post.downvotes}}</button>
      </form>
    </span>
  </div>
</div>


{% else %}
<div class="ui card" style="width: 100%">
  <div class="ui placeholder segment">
    <div class="ui icon header">
      <i class="video icon"></i>
      <h4><em>Oops! No post found.</em></h4>
    </div>
  </div>
</div>
{% endfor %}


{% block scripts %}
{% endblock %}
