{# vim: set ts=2 sw=2 et tw=120 ft=htmldjango: #}

{% extends "skel.html" %}

{% set service = 'youtube' %}
{% block title %} New Post {% endblock %}
{% block body %}

<div class="center-margin">
  <div id="player">
  </div>
  
      
  <br>
  <br>
  <span class="right floated" style:"margin: auto;">
    <form method='POST' action='/like/post/up/{{post.id}}' style='display: inline;'>
      <button><i class="thumbs up outline icon"></i>{{post.upvotes}}</button>
    </form>
    <form method='POST' action='/like/post/down/{{post.id}}' style='display: inline;'>
      <button><i class="thumbs down outline icon"></i>{{post.downvotes}}</button>
    </form>
  </span>
</div>



<div class="ui comments center-margin">
    <div><h2>{{post.title}} </h2><br>
      {% if post.user.username%}
        <a class="author" href="/profile/{{ post.user._id }}">@{{post.user.username}}</a>
        {% else %}
          <a class="author">Anonymous</a>
          {% endif %} <br>
          {{post.dateCreated}}
        </div>
  <h3 class="ui dividing header">Comments</h3>
  {% for comment in post.comments%}
  <div class="comment">
    <div class="content">
      {% if comment.user%}
      <a class="author" href="/profile/{{ comment.user._id }}">@{{comment.user.username}}</a>
      {% else %}
        <a class="author">Anonymous</a>
        {% endif %}
      <div class="metadata">
        <span class="date">{{comment.dateCreated}}</span>
      </div>
      <div class="text">
        {{comment.text}}
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
        <form method='POST' action='/like/comment/up/{{comment.id}}' style='display: inline;'>
          <button><i class="thumbs up outline icon"></i>{{comment.upvotes}}</button>
        </form>
        <form method='POST' action='/like/comment/down/{{comment.id}}' style='display: inline;'>
          <button><i class="thumbs down outline icon"></i>{{comment.downvotes}}</button>
        </form>
      </div>

    </div>
  </div>
  {% endfor %}

  <form class="ui reply form" method="POST" action="/post/comment/{{post.id}}">
    <div class="field">
      <textarea name='reply'></textarea>
    </div>
    <button class="ui blue labeled submit icon button">
      <i class="icon edit"></i> Add Reply
    </button>
  </form>
</div>
{% endblock %}

{% block scripts %}

<script src="https://player.vimeo.com/api/player.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>
<script src="/js/player.js"></script>
<script src="/js/viewClip.js"></script>
<script type="application/json" id="selected-video">
  {{ post | json | safe }}
</script>
<script>

function onYouTubeIframeAPIReady() {
var post = JSON.parse($('#selected-video').html());
console.log(post)
console.log(post.video.link)
loadVideo(post.video.link, post.video.start, post.video.end);
}
</script>

{% endblock %}
