{# vim: set ts=2 sw=2 et tw=120 ft=htmldjango: #}
{% extends "skel.html" %}
{% block title %}Authors{% endblock %}
{% block rootbody %}
<div class="ui inverted vertical masthead center aligned segment">
  {% include "header.html" %}

  <div class="ui text container bigTop" style="height: 100%">
    <h1 class="ui inverted header">
      VimTok
    </h1>
    <h2 style= "font-size: 3em; margin-top: -2vh;">The project</h2>
    <h3>This project is one of the final project of <em>Software Atelier 3</em> in USI.
      This project was built across 4 weeks with ~400 commits.</h3>
      <h2>Authors</h2>
      <ul style="list-style-type: none; padding: 0">
      <li><strong>Renato Iannace</strong></li>
      <li><strong>Claudio Maggioni</strong></li>
      <li><strong>Matteo Omenetti</strong></li>
      <li><strong>Mejrima Smajilbasic</strong></li>
    </ul>
  </div>
</div>

{% endblock %}
