{# vim: set ts=2 sw=2 et tw=120 ft=htmldjango: #}
{% extends "skel.html" %}
{% block title %}Authors{% endblock %}
{% block body %}
<div class="center">
<h1>Vimtok</h1>
<h2>The project</h2>
This project is one of the final project of <em>Software Atelier 3</em> in USI.
This project was built across 4 weeks with ~400 commits.
<h2>Authors</h2>
<ul style="list-style-type: none; padding: 0">
  <li><strong>Renato Iannace</strong></li>
  <li><strong>Claudio Maggioni</strong></li>
  <li><strong>Matteo Omenetti</strong></li>
  <li><strong>Mejrima Smajilbasic</strong></li>
</ul>
</div>
{% endblock %}
