{# vim: set ts=2 sw=2 et tw=120 ft=htmldjango: #}
{% extends "skel.html" %}
{% block title %}New post{% endblock %}
{% block body %}
<template id="player-placeholder">
  <div class="ui icon header" id="player">
    <i class="video icon"></i>
    Put your <em>Youtube</em> or <em>Vimeo</em> video URL below.
    A preview will appear here.
  </div>
</template>

<form class="ui form new" method="POST" action='/post/edit/{{post.id}}?_method=PATCH'>
  <h1 class="ui header">Upload New Video</h1>
  <div class="new-video-player ui placeholder segment">
    <div class="ui icon header" id="player">
      <i class="video icon"></i>
      Put your <em>Youtube</em> or <em>Vimeo</em> video URL below.
      A preview will appear here.
    </div>
  </div>
  <div class="field required">
    <label>Link:</label>
    <input type="text" name="link" value="{{post.video.link}}" readonly>
  </div>
  <div class="field required">
    <label>Start:</label>
    <input type="text" name="start" value={{post.video.start}}>
  </div>
  <div class="field required">
    <label>End:</label>
    <input type="text" name="end" value={{post.video.end}}>
  </div>
  <div class="field required">
    <label>Title:</label>
    <input type="text" name="title" value={{post.title}}>
  </div>
  <div class="field">
    <label>Tags:</label>
    <input type="text" name="tags">
  </div>
  <div class="field">
    <label>Description</label>
    <textarea rows="2" name='description' value={{post.description}} style="margin-top: 0px; margin-bottom: 0px; height: 100px; resize: none"></textarea>
  </div>
  <div class="field required">
    <label>Visibility</label>
    <div class="two fields">
      <div class="field required">
        <select class="ui fluid search dropdown" value='{{post.visibility}}' name="visibility">
          <option value="public">Public</option>
          <option value="private">Private</option>
        </select>
      </div>
    </div>
  </div>
  <div class="field">
    <button class="ui button" type="submit">Edit</button>
  </div>
  <div class="ui error message"></div>
</form>
{% endblock %}
{% block scripts %}
<script src="https://player.vimeo.com/api/player.js"></script>
<script src="/js/player.js"></script>
<script src="/js/newClip.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>
{% endblock %}
