{# vim: set ts=2 sw=2 et tw=120 ft=htmldjango: #}

{% extends "skel.html" %}

{% block title %}Gallery{% endblock %}
{% block rootbody %}

    <div class="ui inverted vertical segment">
      <h1 class="vimtok" id="logo">
        VimTok
      </h1>
      <div class="right item">
        <div style="margin-right: 2vw;">
        </div>
        <a href="./signUP.html" class="ui inverted button">/*User's profile*/</a>
      </div>


      <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
        </div>
      </div>
    </div>


  {% endblock %}
