{# vim: set ts=2 sw=2 et tw=120 ft=htmldjango: #}
{% extends "skel.html" %}
{% block title %}Gallery{% endblock %}
{% block rootbody %}
<div id="my">
  <div class="ui top secondary stackable main menu following bar light">
    <div class="ui container" id="navbar">
      <h1 class="vimtok"> <a href="/gallery"> VimTok </a> </h1>
      <div class="right item">
        <div class="ui icon input" style="margin-right: 2vw;">
          <input type="text" placeholder="Search...">
          <i class="inverted circular search link icon"></i>
        </div>
        <a href="/newVideoForm" class="ui inverted button" style='margin-right: 2vw;'>New Post</a>
        {% if user %}
        <a href="/feed" class="ui inverted button" style='margin-right: 2vw;'>Feed</a>
        <a href="/profile/123" class="ui inverted button">Profile</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div id="mainContent">
  <h1> Feed </h1>
  <div class="ui link cards">
    {% for i in range(1,5) %}
    <div class="card">
      <iframe src="https://www.youtube.com/embed/e-u-W03SgYk" frameborder="0"
        allow=" autoplay; encrypted-media;"></iframe>
      <div class="content">
        <div class="header">Salvini è uno di noi</div>
        <div class="meta">
          <a>Quick Video</a>
        </div>
        <div class="description">
          Salvini aiuta la gente comune, quella vera!
        </div>
      </div>
      <div class="extra content">
        <span>
        <i class="user icon"></i>
        {# This should be a link to the user's profile #}
        Mark4316
        </span>
        <span class="right floated">
        <button> <i class="thumbs up outline icon"></i> 10</button>
        <button> <i class="thumbs down outline icon"></i> 6</button>
        </span>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
