<html>

  <head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

    <title>Gallery</title>
    <link rel="stylesheet" type="text/css" href="./projectCSS.css">
  </head>


  <body>

      <div class="pusher">
    <div class="ui inverted vertical   segment">



      <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
          <div class="right item">
            <div style="margin-right: 2vw;">
            </div>
            <a href="./signUP.html" class="ui inverted button">/*User's profile*/</a>
          </div>
        </div>
      </div>



    </div>
      </div>

      <!-- <div class="ui text container">
        <h1 class="ui inverted header" style= "font-size: 11.2em;
                                              background: -webkit-linear-gradient(left, #439541, #70F3EE , #EA3354);
                                               background: -o-linear-gradient(right, #439541, #70F3EE , #EA3354);
                                               background: -moz-linear-gradient(right, #439541, #70F3EE , #EA3354);
                                               background: linear-gradient(to right, #439541, #70F3EE , #EA3354);
                                              -webkit-background-clip: text;
                                              -webkit-text-fill-color: transparent;">
          VimTok
        </h1>
      </div> -->

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

  </body>

</html>
