{# vim: set ts=2 sw=2 et tw=120 ft=htmldjango: #}

<div class="ui inverted header segment" style="border-radius: 0">
  <div class="ui large secondary inverted menu main-menu">
    {% if not index %}
    <div class="item">
      <div class="ui logo shape">
        <div class="sides">
          <div class="active ui side">
              {% if not user %}
            <a href="/" class="vimtok">Vimtok</a>
            {% else %}
            <a href="/post/gallery" class="vimtok">Vimtok</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="left item">
      <a href="/post/new" class="header active item">New Post</a>
      <a href="/post/gallery" class="header active item">Gallery</a>
      {% if user %}
      <a href="/follow/feed" class="header active item">Feed</a>
      {% endif %}
    </div>
    <div class="right item">
      <div  class="ui icon input" style="margin-left: 1em;">
        <form   method="GET" action='/search'> 
         <input type="text" name= "searchBar" placeholder="Search Posts, Users...">
         <input type="submit" style="visibility: hidden;">
         <button class="ui labeled button" type="submit">
         <i class="inverted circular search link icon"></i>
        </button>
        </form> 
      </div>
    </div>
    {% if not user %}
    <div class="right item">
      <a href="/auth/login" class="ui inverted button user-btn">Log in</a>
      <a href="/auth/signup" class="ui inverted button">Sign Up</a>
    </div>
    {% else %}
    <div class="right item">
      <a href="/profile/{{ user.id }}" class="ui inverted button user-btn">
        <i class="user icon"></i> {{ user.username }}
      </a>
      <a href="/auth/logout" class="ui inverted button">Logout</a>
    </div>
    {% endif %}
  </div>
</div>
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/js/search.js"></script>
<!-- <script> searchInit() </script> -->
{% endblock %}
