{# vim: set ts=2 sw=2 et tw=120 ft=htmldjango: #}

<div class="ui inverted header segment" style="border-radius: 0">
  <div class="ui large secondary inverted menu">
    <div class="ui container">
      <div class="item">
        <div class="ui logo shape">
          <div class="sides">
            <div class="active ui side">
              <a href="/" class="vimtok">Vimtok</a>
            </div>
          </div>
        </div>
      </div>
      <div class="left item">
        <a href="/clip/new" class="header active item">New Video</a>
        <a href="/gallery" class="header active item">Gallery</a>
      </div>
      {% if not user %}
      <div class="right item">
        <a href="/auth/login" class="ui inverted button user-btn">Log in</a>
        <a href="/auth/signup" class="ui inverted button">Sign Up</a>
      </div>
      {% else %}
      <div class="right item">
        <a href="/auth/profile" class="ui inverted button user-btn">
          <i class="user icon"></i> {{ user.username }}
        </a>
        <a href="/auth/logout" class="ui inverted button">Logout</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
