{# vim: set ts=2 sw=2 et tw=120 ft=htmldjango: #}

{% extends "skel.html" %}

{% set index = true %}

{% block title %}Vimtok{% endblock %}
{% block rootbody %}
<div class="ui inverted vertical masthead center aligned segment">
  {% include "header.html" %}

  <div class="ui text container bigTop">
    <h1 class="ui inverted header">
      VimTok
    </h1>
    <h2 style= "font-size: 3em; margin-top: -2vh;"> Share only the best moments</h2>
    <br>
    <a href="/auth/signup" style="color: white;" class="ui huge primary button myTop"> Get Started <i class="right arrow icon"></i></a>
  </div>
</div>

<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header" style="font-size: 2.1em;">We Help People share their best moments</h3>
        <p style="font-size: 1.5em;">We can give you superpowers to do things that you never thought possible. Let us delight you and your friends through snippets of funny videos.</p>
        <h3 class="ui header" style="font-size: 2.1em;">Register for Free and Join the  Community</h3>
        <p style="font-size: 1.5em;">Yes that's right, you thought you had to pay fro such an amazing service, but it's actually completly free and it will be forever.</p>
      </div>
      <div class="six wide right floated column">
        <img src="/img/logo.png" class="ui large image">
      </div>
    </div>
  </div>
</div>


<div class="ui vertical stripe quote segment">
  <div class="ui equal width stackable internally celled grid">
    <div class="center aligned row">
      <div class="column">
        <h3 style="font-size: 1.8em;">"A breath of Fresh Air"</h3>
        <p style="font-size: 1.35em;">
        <img src="/img/steve_jobs.jpg" class="ui avatar bordered image"> <b> Steve Jobs </b>
        </p>
      </div>
      <div class="column">
        <h3 style="font-size: 1.8em;">"The best thing after my Pickup Truck"</h3>
        <p style="font-size: 1.35em;">
        <img src="/img/elon_musk.jpg" class="ui avatar image"> <b>Elon Musk</b>
        Tesla Chief Executive Officer
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
