<html>

  <head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="./projectCSS.css">
    <title>Log In</title>

  </head>


  <body>


    <div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container myTop">
      <div class="ui large secondary inverted pointing menu">
        <a  href="./mainPage.html" class="active item">Home</a>
        <div class="right item">
          <div style="margin-right: 2vw;">
            <a href="./login.html" class="ui inverted button"> Log in</a>
          </div>
          <a href="./signUP.html" class="ui inverted button">Sign Up</a>
        </div>
      </div>
    </div>

    <div class="ui text container bigTop" style="margin-bottom: 0;">
      <h1 class="ui inverted header" style= "font-size: 11.2em;
                                            background: -webkit-linear-gradient(left, #439541, #70F3EE , #EA3354);
                                             background: -o-linear-gradient(right, #439541, #70F3EE , #EA3354);
                                             background: -moz-linear-gradient(right, #439541, #70F3EE , #EA3354);
                                             background: linear-gradient(to right, #439541, #70F3EE , #EA3354);
                                            -webkit-background-clip: text;
                                            -webkit-text-fill-color: transparent;">
        VimTok
      </h1>
    </div>





  </div>

  <form class="ui large form" style="margin: auto; margin-top: 10vh; min-width: 18vw; max-width: 25vw;">
    <div class="field required">
    <label>Username</label>
    <input type="text" name="username" placeholder="Mark4316">
    </div>
    <div class="field required">
      <label>Password</label>
      <input type="password">
    </div>
    <div class="field">
    <button class="ui button" type="submit">Log In</button>
    </form>
  </div>




    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

  </body>
