<html>

  <head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

    <title>Main Page</title>
    <link rel="stylesheet" type="text/css" href="./projectCSS.css">
  </head>


  <body>

      <div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">

      <div class="ui container myTop">
        <div class="ui large secondary inverted pointing menu">
          <a  href="./mainPage.html" class="active item">Home</a>
          <div class="right item">
            <div style="margin-right: 2vw;"
              <a class="ui inverted button"> Log in</a>
            </div>
            <a href="./signUP.html" class="ui inverted button">Sign Up</a>
          </div>
        </div>
      </div>

      <div class="ui text container bigTop">
        <h1 class="ui inverted header" style= "font-size: 11.2em;
                                              background: -webkit-linear-gradient(left, #439541, #70F3EE , #EA3354);
                                               background: -o-linear-gradient(right, #439541, #70F3EE , #EA3354);
                                               background: -moz-linear-gradient(right, #439541, #70F3EE , #EA3354);
                                               background: linear-gradient(to right, #439541, #70F3EE , #EA3354);
                                              -webkit-background-clip: text;
                                              -webkit-text-fill-color: transparent;">
          VimTok
        </h1>
        <h2 style= "font-size: 3em; margin-top: -2vh;"> Share only the best moments</h2>
        <br>
        <a href="./signUP.html" style="color: white;" class="ui huge primary button myTop"> Get Started <i class="right arrow icon"></i></a>
      </div>

    </div>

    <div class="ui vertical stripe segment">
      <div class="ui middle aligned stackable grid container">
        <div class="row">
          <div class="eight wide column">
            <h3 class="ui header" style="font-size: 2.1em;">We Help People share their best moments</h3>
            <p style="font-size: 1.5em;">We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</p>
            <h3 class="ui header" style="font-size: 2.1em;">Register for Free and Join the  Community</h3>
            <p style="font-size: 1.5em;">Yes that's right, you thought it was the stuff of dreams, but even bananas can be bioengineered.</p>
          </div>
          <div class="six wide right floated column">
            <img src="../public/img/logo.png" class="ui large image">
          </div>
        </div>
      </div>
    </div>


    <div class="ui vertical stripe quote segment">
      <div class="ui equal width stackable internally celled grid">
        <div class="center aligned row">
          <div class="column">
            <h3 style="font-size: 1.8em;">"A breath of Fresh Air"</h3>
            <p style="font-size: 1.5em;">Steve Jobs</p>
          </div>
          <div class="column">
            <h3 style="font-size: 1.8em;">"The best thing after my Pickup Truck"</h3>
            <p style="font-size: 1.35em;">
              <img src="../public/img/elon_musk.jpg" class="ui avatar image"> <b>Elon Musk</b> Tesla Chief Executive Officer
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="ui inverted vertical footer segment">
      <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
          <div class="two wide column">
            <h4 class="ui inverted header">About</h4>
            <div class="ui inverted link list">
              <a href="#" class="item">Authors</a>
              <a href="#" class="item">Contact Us</a>
              <a href="https://www.usi.ch/it" class="item">USI</a>
            </div>
          </div>
          <div class="three wide column">
            <h4 class="ui inverted header">Technologies</h4>
            <div class="ui inverted link list">
              <a href="https://semantic-ui.com/" class="item">SemanticUI</a>
              <a href="https://mozilla.github.io/nunjucks/" class="item">Nunjucks</a>
              <a href="http://www.passportjs.org/" class="item">PassportJS</a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>



    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

  </body>

</html>
