{# vim: set ts=2 sw=2 et tw=120 ft=htmldjango: #}
{% extends "skel.html" %}
{% block title %}New post{% endblock %}
{% block body %}
<template id="player-placeholder">
  <div class="ui icon header" id="player">
    <i class="video icon"></i>
    Put your <em>Youtube</em> or <em>Vimeo</em> video URL below.
    A preview will appear here.
  </div>
</template>

<form class="ui form new" method="post" action='/'>
  <h2>Upload New Video</h2>
  <div class="new-video-player ui placeholder segment">
    <div class="ui icon header" id="player">
      <i class="video icon"></i>
      Put your Youtube or Vimeo video URL below. A preview will appear here.
    </div>
  </div>
  <div class="field required">
    <label>Link:</label>
    <input type="text" name="link" placeholder="htps://www.youtube.com/watch?v=YlUKcNNmywk">
  </div>
  <div class="field required">
    <label>Start:</label>
    <input type="text" name="start" placeholder="01:12">
  </div>
  <div class="field required">
    <label>End:</label>
    <input type="text" name="end" placeholder="22:21">
  </div>
  <div class="field required">
    <label>Title:</label>
    <input type="text" name="title" placeholder="An old classic that everyone should know">
  </div>
  <div class="field">
    <label>Description</label>
    <textarea rows="2" name='description' style="margin-top: 0px; margin-bottom: 0px; height: 100px; resize: none"></textarea>
  </div>
  <div class="field required">
    <label>Visibility</label>
    <div class="two fields">
      <div class="field required">
        <select class="ui fluid search dropdown" value="public" name="visibility">
          <option value="public">Public</option>
          <option value="private">Private</option>
        </select>
      </div>
    </div>
  </div>
  <div class="field">
    <button class="ui button" type="submit">Upload</button>
  </div>
  <div class="ui error message"></div>
</form>
{% endblock %}
{% block scripts %}
<script src="https://www.youtube.com/iframe_api"></script>
<script src="/videoPlayerScripts/youtubeHandler.js"></script>
<script src="/js/newClip.js"></script>
{% endblock %}
