{# vim: set ts=2 sw=2 et tw=120 ft=htmldjango: #}
{% extends "skel.html" %}
{% block title %}Result{% endblock %}
{% block body %}
<h1 class="ui header">Result</h1>

{% block users %}
{% if users %}
<div>
    <h2 class="ui header">Users</h2>
    <ul>
    {% for user in users %}
    <a href="/profile/{{ user._id }}"><li> {{user.username}} </li></a>
    {% endfor %}
    </ul>
</div>
{% endif %}
{% if not users %}
<p>Oops! No user found</p>
<div class="ui card" style="width: 100%">
        <div class="ui placeholder segment">
          <div class="ui icon header">
            <i class="user icon"></i>
            <h4><em>Oops! No user found.</em></h4>
          </div>
        </div>
      </div>
{% endif %}
{% endblock %}

{% if  posts %}
<h2 class="ui header">Posts</h2>
{% include "post/list.html" %}
{% endif %}

{% if  tagPosts %}
<h2 class="ui header">Tags</h2>
{% include "post/tagList.html" %}
{% endif %}

{% endblock %}

