{# vim: set ts=2 sw=2 et tw=120 ft=htmldjango: #}

{% block results %}

{% if users | length > 0  %}
    {% for user in users %}
    <option id="{{user._id}}" class="searchResultsUsers" value="{{user.username}}"></option>
    {% endfor %}
{% endif %}

{% if  posts %}
  {% for post in posts %}
  <option id="{{post._id}}" class="searchResultsPosts" value="{{post.title}}"> </option>
  {% endfor %}
{% endif %}

{% if tagPosts %}
  {% for post in tagPosts %}
  <option id="{{post._id}}" class="searchResultsPosts" value="{{post.title}}"></option>
  {% endfor %}
{% endif %}

{% endblock %}
