{# vim: set ts=2 sw=2 et tw=120 ft=htmldjango: #}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    {% set messages = getMessages() %}
    {% if messages.success %}
      {{ messages.success }}
    {% endif %}
    {% if messages.info %}
      {{ messages.info }}
    {% endif %}
    {% if messages.warn %}
      {{ messages.warn }}
    {% endif %}
    {% if messages.error %}
      {{ messages.error }}
    {% endif %}
    <main>
      {% block body %}{% endblock %}
    </main>
    <script src="dustjs-linkedin/dust-full.min.js"></script>
    <script src="js/fetch.js"></script>
  </body>
</html>
