{# vim: set ts=2 sw=2 et tw=120 ft=htmldjango: #}

<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" type="text/css"
                           href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Vimtok</title>
    <link rel="stylesheet" type="text/css" href="/project.css">
  </head>

  <body>
    <div class="rootbody">
    {% block rootbody %}
    {% block header %}
      {% include "header.html" %}
    {% endblock %}

    <main class="ui container">
      {% set messages = getMessages() %}
      {% if messages.success %}
      <div class="ui positive message">
        {{ messages.success | safe }}
      </div>
      {% endif %}
      {% if messages.info %}
      <div class="ui info message">
        {{ messages.info | safe }}
      </div>
      {% endif %}
      {% if messages.warn %}
      <div class="ui warning message">
        {{ messages.warn | safe }}
      </div>
      {% endif %}
      {% if messages.error %}
      <div class="ui error message">
        {{ messages.error | safe }}
      </div>
      {% endif %}
      {% block body %}{% endblock %}
    </main>
    {% endblock %}
  </div>

    <div class="ui inverted vertical footer segment">
      <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
          <div class="two wide column">
            <h4 class="ui inverted header">About</h4>
            <div class="ui inverted link list">
              <a href="#" class="item">Authors</a>
              <a href="#" class="item">Contact Us</a>
              <a href="https://www.usi.ch/it" class="item">USI</a>
            </div>
          </div>
          <div class="three wide column">
            <h4 class="ui inverted header">Technologies</h4>
            <div class="ui inverted link list">
              <a href="https://semantic-ui.com/" class="item">SemanticUI</a>
              <a href="https://mozilla.github.io/nunjucks/" class="item">Nunjucks</a>
              <a href="http://www.passportjs.org/" class="item">PassportJS</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="https://mozilla.github.io/nunjucks/files/nunjucks.js"> </script>
    <script src="/js/fetch.js"></script>
    <script src="/js/search.js"></script><script>searchStart();</script>
    <script src="/js/templates.js"></script>
    <script>
      $(document).ready(() => {
        $('select.dropdown').dropdown();
        $('div.dropdown').dropdown();
      });
    </script>
    <script src="/js/notifications.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
