{# vim: set ts=2 sw=2 et tw=120 ft=htmldjango: #}

{% extends "skel.html" %}

{% set service = 'youtube' %}

{% block title %} New Post {% endblock %}
{% block rootbody %}
<div id="my">
  <div class="ui top secondary stackable main menu following bar light">
    <div class="ui container" id="navbar">
          <h1 class="vimtok"> <a href="/gallery"> VimTok </a> </h1>
    <div class="right item">
      <div> <a href="newVideoForm" class="ui inverted button">New Video</a> </div>
    </div>
    </div>
  </div>
</div>

{% if service == 'youtube' %}
  <div id="player"></div>
{% endif %}

{% if service == 'vimeo' %}
{% set url = "https://player.vimeo.com/video/371525503" %}
<iframe src="{{ url }}" width="720" height="480" 
  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
</iframe>
{% endif %}
{% endblock %}

{% block scripts %}
{% if service == 'vimeo' %}
<script src="https://player.vimeo.com/api/player.js"></script>
<script src="/videoPlayerScripts/vimeoHandler.js"></script>
{% else %}
<script src="/videoPlayerScripts/youtubeHandler.js"></script>
{% endif %}
{% endblock %}
