{# vim: set ts=2 sw=2 et tw=120 ft=htmldjango: #}

{% extends "skel.html" %}

{% block title %}@{{ profileUser.username }}{% endblock %}
{% block rootbody %}
<div id="my">
  {% include "header.html" %}

  <div class="ui text container user-top">
    <h1 class="ui inverted header">
      @{{ profileUser.username }}
    </h1>
    {% if user.id != profileUser.id %}
    <form method='POST' action='/follow/{{profileUser.id}}' style='display: inline;'>
      <button id="{{profileUser._id}}" class="ui followButton button"><i class="thumbs up outline icon"></i><span id="followContent">Follow</span></button>
    </form>
    <br>
    {%endif%}
    <br>
  </div>

  <div id='menus'>
    <div class="ui four item menu">
      <a id="all" class="item">All</a>
      <a id="public" class="item">Public</a>
      <a id="private" class="item">Private</a>
      <a class="item">Albums</a>
    </div>
  </div>
</div>

<main class="ui container">
  <h1 class="ui header">My Clips</h1>
  <div class="cont_iterator">
  {% include "post/list.html" %}
  </div>
</main>

{% endblock %}

{% block scripts %}
<script src="/js/follow.js"></script> <script>followStart();</script>

{% endblock %}
