.myTop {
  margin-bottom: 7vh;
}

.bigTop {
  margin-bottom: 10vh;
}

.user-top {
  text-align: center;
  margin: 5em 0;
}

body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

.rootbody {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

.ui.menu.main-menu > .left.item > a {
  margin-right: .5rem;
}

.ui.menu.main-menu > .left.item > a:last-child {
  margin-right: 0;
}

.vimtok {
  margin: 0;
  padding: 0;

  font-size: 2em;
}

.bigTop .ui.inverted.header {
  font-size: 11.2em;
}

.vimtok, .ui.inverted.menu .item > a:not(.ui).vimtok,
.bigTop .ui.inverted.header {
  font-weight: bold;
  background: -webkit-linear-gradient(left, #439541, #70F3EE , #EA3354);
  background: -o-linear-gradient(right, #439541, #70F3EE , #EA3354);
  background: -moz-linear-gradient(right, #439541, #70F3EE , #EA3354);
  background: linear-gradient(to right, #439541, #70F3EE , #EA3354);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 768px) {
  .bigTop .ui.inverted.header {
    font-size: 20vw;
  }
}

.ui.top.secondary.stackable.main.menu.following.bar.light {
  background-color: rgb(27, 28, 29);
  height: 7vh;
  /* padding-bottom: 2vh; */
  padding-top: 0.7vh;
}

#my {
  background-color: rgb(27, 28, 29);
  margin-bottom: 3vh;
}

.right.item > .ui.inverted.button.user-btn {
  margin-right: 1em;
}

#profileCard {
  width: 13vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  margin-bottom: 2vh;
}

#menus {
  /* padding-bottom: 5vh; */
}

#mainContent {
  padding-left: 4vw;
  padding-right: 4vw;
  padding-bottom: 4vw;
}

.ui.large.form.new {
  margin-left: 30vw;
  margin-right: 30vw;
}

#player {
  width: 100%;
  margin: -1rem 0 0 0;
}

.new-video-player {
  text-align: center;
  height: 60vw;
  max-height: 40rem;
}

.new-video-player #player {
  margin: 0;
}

.new-video-player iframe#player,
.new-video-player #player[data-vimeo-initialized=true] {
  height: 100%;
}

main .ui.link.cards {
  margin-top: 0;
  margin-bottom: 0;
}

.margin-top, .center-margin {
  margin-top: 2vh !important;
}

.center, .center-margin {
  text-align: center !important;
}

.center-margin {
  margin-left: auto !important;
  margin-right: auto !important;
}

.center-margin > * {
  text-align: initial;
}

.ui.comments.center-margin {
  margin-bottom: 3vh;
}

.ui.inverted.header.segment .right.item {
  margin-left: 0 !important;
}

@media screen and (max-width: 900px) {
  .ui.inverted.header.segment .ui.menu > .item {
    margin: 0 !important;
  }

  .ui.inverted.header.segment .ui.menu {
    flex-direction: column;
  }

  .ui.inverted.header.segment .ui.menu .ui.icon.input {
    margin: .5em !important;
  }
}

main.ui.container {
  margin-bottom: 2em;
}
