.myTop {
  margin-bottom: 7vh;
}

.bigTop {
  margin-bottom: 10vh;
}

body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

.rootbody {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

.vimtok {
  margin: 0;
  padding: 0;

  max-width: 20%;
  font-size: 3em;
  background: -webkit-linear-gradient(left, #439541 0%, #70F3EE 30%, #EA3354 70%);
  background: -o-linear-gradient(left, #439541 0%, #70F3EE 30%, #EA3354 70%);
  background: -moz-linear-gradient(left, #439541 0%, #70F3EE 30%, #EA3354 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ui.top.secondary.stackable.main.menu.following.bar.light {
  background-color: rgb(27, 28, 29);
  height: 7vh;
  /* padding-bottom: 2vh; */
  padding-top: 0.7vh;

}

#my {
  margin-bottom: 3vh;
}


#mainContent {
  height: 90%;
  padding-left: 4vw;
  padding-right: 4vw;

}
