{# vim: set ts=2 sw=2 et tw=120 ft=htmldjango: #}

{% extends "../skel.html" %}

{% block title %}Login{% endblock %}

{% block body %}
<h2>Login</h2>

<form class="ui large form" method="post">
  <div class="field required">
    <label>Username:</label>
    <input required type="text" name="username" placeholder="joe@smith.com">
  </div>
  <div class="field required">
    <label>Password:</label>
    <input required type="password" name="password">
  </div>
  <div class="field">
    <button class="ui button" type="submit">Register</button>
  </div>
</form>
{% endblock %}
