{# vim: set ts=2 sw=2 et tw=120 ft=htmldjango: #}

{% extends "skel.html" %}

{% block title %}@{{ user.username }}{% endblock %}
{% block rootbody %}
<div id="my">
  {% include "header.html" %}

  <div class="ui text container user-top">
    <h1 class="ui inverted header">
      @{{ user.username }}
    </h1>
    <br>
    <div class="ui icon input">
      <input type="text" placeholder="Search...">
      <i class="inverted circular search link icon"></i>
    </div>
  </div>

  <div id='menus'>
    <div class="ui four item menu">
      <a class="item active">All</a>
      <a class="item">Public</a>
      <a class="item">Hidden</a>
      <a class="item">Albums</a>
    </div>
  </div>
</div>

<div id="mainContent">
  <h1>Feed</h1>
  <div class="ui link cards">
    {% for post in posts %}
    <div class="card">
      <iframe src={{post.video.link}} frameborder="0"
                                                  allow="autoplay; encrypted-media;"></iframe>
      <div class="content">
        <div class="header">{{post.title}}</div>
        <div class="meta">
          <a>Quick Video</a>
        </div>
        <div class="description">
          {{post.description}}
        </div>
      </div>
      <div class="extra content">
        <span>
          <i class="user icon"></i>
          {# This should be a link to the user's profile #}
          {{post.username}}
        </span>
        <span class="right floated">
          <button> <i class="thumbs up outline icon"></i> {{post.upvotes}}</button>
          <button> <i class="thumbs down outline icon"></i> {{post.downvotes}}</button>
        </span>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
